[Unit]
Description=Enter Leave System HTTP Server Daemon
After=network.target local-fs.target
Requires=network.target local-fs.target

[Service]
User=root
Group=root
PIDFile=/run/enterleavesystemhttpd.pid
WorkingDirectory=/home/pi/EnterLeaveSystem/front/dev
ExecStart=/usr/bin/python3 -m http.server
ExecStop=/bin/kill -SIGINT $MAINPID
Restart=always
Type=simple

[Install]
WantedBy = multi-user.target
