[Unit]
Description=Enter Leave System Daemon
After=network.target local-fs.target
Requires=network.target local-fs.target

[Service]
User=pi
Group=pi
PIDFile=/run/enterleavesystemd.pid
WorkingDirectory=/home/pi/EnterLeaveSystem/back
ExecStart=/home/pi/.pyenv/shims/pipenv run python server.py
ExecStop=/bin/kill -SIGINT $MAINPID

[Install]
WantedBy = multi-user.target

