[Unit]
Description=Enter Leave System Daemon
After=network.target local-fs.target
Requires=network.target local-fs.target

[Service]
ExecStart=/bin/sh -c "cd /home/pi/EnterLeaveSystem/front/dev && /home/pi/.pyenv/shims/python -m http.server"
Restart=always
Type=simple
User=pi
Group=pi

[Install]
WantedBy = multi-user.target


