h1 {
  font-size: 5rem;
  font-weight: normal;
  letter-spacing: 0.05rem;
}

.goodbye {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
