.regist {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 4rem;
  font-weight: normal;
  letter-spacing: 0.05rem;
}

h2 {
  font-size: 50px;
  width: 100%;
  font-weight: normal;
}

input {
  width: 325px;
  height: 125px;
  font-size: 2.2rem;
  font-weight: lighter;
  letter-spacing: 0.05rem;
  margin: 15px;
}

.studentNUM {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
