.background {
  background: #EEEEEE;
  min-height: 100vh;
  width: 100%;
}

.container {
  font-family: verdana;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
}

.clockPos {
  text-align: right;
  padding: 24px 48px;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.05rem;
  margin: 0;
}

.topNav {
  position: fixed;
  height: 100px;
  z-index: 1000;
}

.totopPos {
  position: absolute;
  left: 0px;
  padding: 24px 48px;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  color: #3282ce;
  text-decoration: none;
}
